{% extends "base_generic.html" %}

{% block content %}

<section class="jumbotron jumbotron-fluid" id="main" style="width: 75%;  padding-left: 200px; margin-left: auto; margin-right: auto;">
    <h2 class="display-5">Registro de nuevo usuario</h2>
    {% csrf_token %}
    <section class="alert alert-danger">
        <h3 class="display-6">Error en el registro</h3>
        {% for error in errors %}
        {% for field, value in error.items %}
        <h4 class="display-7" >{{ field }}</h4>
        <ul>
        {% for e in value %}
            <li>
                {{ e }}
            </li>
        {% endfor %}
        </ul>
        {% endfor %}
        {% endfor %}
    </section>
    <a href="javascript:history.go(-1)" class="btn btn-secondary" style="margin-left: 50px;">Volver</a>

</section>

{% endblock %}