{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<section class="jumbotron jumbotron-fluid" id="main">
    <section class="alert alert-danger" id = "error_box">
        <h2 class="display-6">Datos borrados:</h2>
        {% for field in data %}
        <table class="table table-striped" style="width: 75%; margin: auto;">
            <tr>
                <td><b>Proyecto:</b></td>
                <td>{{ field.project }}</td>
            <tr>
                <td><b>Nombre del sondeo:</b></td>
                <td>{{ field.DH_id }}</td>
        </table>
        {% endfor %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Inicio</a>


    </section>

    {% endblock %}