{% extends "base_generic.html" %}

{% block content %}
{% load static %}
{% if not messages %}
<section class="jumbotron jumbotron-fluid" id="main">
  {% if not data %}
  <section class="jumbotron jumbotron-fluid" id="main">
    <section class="alert alert-warning" id = "error_box">
      <p>No hay proyectos en la base de datos.</p>
    </section>
    <a href="javascript:history.go(-1)" class="btn btn-secondary">Volver</a>
  </section>
  {% endif %}

  {% for project in data %}
    {% csrf_token %}
    <section class="card" id="project_card">
      <h5 class="display-7" style="margin-top: 15px; text-align: center;">Proyecto: {{project.project_id }}</h5>
      <table class="container-fluid" id="card_table">
        <tr>
          <td class="display-8">Nº sondeos:</td>
          <td class="display-8">{{ project.DH_count }}</td>
        </tr>
        <tr>
          <td class="display-8"> Comentarios:</td>
          <td class="text-justify" style="padding-right: 90px;">{{ project.comments }}</td>
        </tr>
      </table>
      <section class="container container-fluid" id="card_btn">
        <form action="{% url 'info_projects' %}" method="post">
          <input type="text" hidden="true" name="project" value="{{project.project_id }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <button class="btn btn-secondary" type="submit" id="btn"><span class="fa fa-eye"
              style="margin-right: 5px;"></span>Ver sondeos</button>
        </form>
        <form action="{% url 'delete_project' %}" method="post">
          <input type="text" hidden="true" name="project_id" value="{{project.project_id }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <button class="btn btn-danger" type="submit" id="btn"> <span class="fa fa-trash"
              style="margin-right: 5px;"></span>Borrar</button>
        </form>
      </section>
    </section>
  {% endfor %}

</section>
{% endif %}

{% if messages %}
<section class="jumbotron jumbotron-fluid" id="main">
  <section class="alert alert-danger">
    {{ messages }}
  </section>
  <a href="javascript:history.go(-1)" class="btn btn-secondary">Volver</a>
</section>
{% endif %}

{% endblock %}