/*  Color pallete
  https://coolors.co/palette/f0ead2-dde5b6-adc178-a98467-6c584c */
html {
  background-color: #F0EAD2;
  height: 100%;
  position: relative;
}

.nav-link {
  color: #a98467;
}

.nav-link:hover,
a.navbar-brand:hover {
  color: #F0EAD2;
}

a.navbar-brand {
  color: #a98467;
  font-size: xx-large;
  padding-left: 25px;
}

ul.navbar-nav {
  display: flex;
}
/* Footer */
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
}
footer section b{
  color: #a98467;
}

/* SIDEBAR */

.sidebar {
  margin: 0;
  padding-left: 20px;
  padding-top: 100px;
  width: 200px;
  height: 100%;
  background-color: #F0EAD2;
  position: fixed;
  overflow: auto;
  text-decoration: none;
}

.sidebar a {
  padding-top: 10px;
  font-size: larger;
  display: block;
  color: #6C584C;
}

.sidebar a:hover {
  color: #ADC178;
}


/*  */
.jumbotron {
  height: 100%;
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
  background-color: #F0EAD2;
}
#main_section {
  padding-top: 90px;
  
}
/* Crear proyecto */
#project_creation{
  background-color: #F0EAD2;
  border-color: none;
}

/* Tabla formularios */

table.container-fluid tr td {
  padding-left: 15px;
  padding-top: 15px;
  margin: 20px;
  font-weight: bold;
}
input{
  border-radius: 5px;
}

.button-bar {
  overflow: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 25px;
}

/* Tablas de datos */
#data_selection_bar{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#data_table{
  padding-top: 25px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#data_table .form-control{
 width: 500px;
 margin: auto;
}
#data_table #selection{
  width: 50px;
}

/* Project cards */

.card{
width: 70%;
margin: auto;
margin-top: 5px;
border-radius: 10px;
align-items: center;
background-color: #D7CAB0;
border-color: #6C584C;
border-width: 2px;
}

#card_btn{
  display: flex;
  justify-content: right;
  align-items: center;
}
#btn{
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 15px;
}
#card_table{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.img_table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* 
  table-layout: fixed;
  padding-top: 200px;
  
  margin-top: auto; */
  }
.img{
  height: 180px;
  background-size: cover;
  margin-bottom: 20px;
  margin-left: 20px;
  /* transform: scale(0.8, 0.8);
  max-width: 100%;
  width: auto;
  max-height: 100vh;
  margin-top: 50px; */
}

#main{
  width: 100%;
  height: 74vh;
  text-align: center;
}
#error_box {
  margin-top: 25px; 
  width: 90%;
  text-align: center;
}